/* TODO w późniejszym kroku dodamy .columnForm i proste style */
/* src/components/ColumnForm/ColumnForm.module.scss */
.columnForm {
	padding: 10px;
	text-align: center;
}

.columnForm input {
	margin-left: 6px;
	margin-right: 12px;
}
