@import '../../styles/settings.scss';

.card {
	position: relative;
	background: $color-light;
	border: 1px solid lighten($color-dark, 60%);
	padding: $base-size;
	margin: 0 0 $base-size 0;
	border-radius: $radius;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
.favoriteButton {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 18px;
	color: #ccc;
	padding: 5px;
	transition: color 0.3s;

	&:hover {
		color: #ffc107;
	}

	&.active {
		color: #ffc107;
	}
}

.cardContent {
	flex: 1;
}
.favoriteButton.active i {
	color: #ffc107;
}
.buttons {
	display: flex;
	flex-direction: row-reverse;
	gap: 8px;
}
