@use 'sass:math';
@import '../../styles/settings';

.listForm {
	display: block;
	max-width: $base-size * 35;
	margin: ($base-size * 2) auto ($base-size * 2) auto;
	background: $color-light;
	color: $color-dark;
	border-radius: $radius;
	box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
	padding: $base-size;
}

.row {
	display: flex;
	align-items: center;
	gap: $base-size;
	margin-bottom: $base-size;

	label {
		min-width: 100px;
		font-weight: bold;
	}

	input {
		flex: 1;
		padding: $base-size math.div($base-size, 2);
		border: 1px solid #ccc;
		border-radius: $radius;
		box-sizing: border-box;
	}
}

.listForm button {
	padding: $base-size math.div($base-size, 2);
	background: $color-success;
	color: $color-light;
	border: none;
	border-radius: $radius;
	cursor: pointer;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	transition: $transition;

	&:hover {
		background: darken($color-success, 5%);
	}
}
