@use 'sass:math';
@import '../../styles/settings';

.favorite {
	padding: $base-size * 2;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: $base-size * 2;
	margin-top: $base-size * 2;
}

.noCards {
	text-align: center;
	color: $color-light;
	font-size: 18px;
	margin-top: $base-size * 3;
}
