@import '../../styles/settings';

.favorite {
	text-align: center;
	padding: 40px 0;
}

.title {
	font-size: 32px;
	color: $color-light;
	margin-bottom: 30px;
}

.favorite p {
	font-size: 16px;
	color: $color-light;
	line-height: 1.6;
	max-width: 600px;
	margin: 0 auto;
}
